# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cobertura de Testes
coverage/

# Variáveis de Ambiente
.env
.env.local

# Arquivos de Sistema e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
